<!-- {% extends 'base.html'%}
{% block content %} 
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What's the weather like?
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{ form.name }}
                        </div>
                        <div class="control">
                            <button class="button is-info">
                                Add City
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° F</span>
                                    <br> {{ weather.description }}
                                    <span class="subtitle">{{ weather.temperature }}° F</span>
                                    <br> {{ weather.country }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
   
</section>
   
{% endblock %} -->
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- header start -->
    <div class="navbar-area">
        <!-- topbar end-->
        <div class="topbar-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-7 align-self-center">
                        <div class="topbar-menu text-md-left text-center">
                            <ul class="align-self-center">
                                <li><a href="#">Author</a></li>
                                <li><a href="#">Advertisment</a></li>
                                <li><a href="#">Member</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 mt-2 mt-md-0 text-md-right text-center">
                        <div class="topbar-social">
                            <div class="topbar-date d-none d-lg-inline-block"><i class="fa fa-calendar"></i> Saturday, October 7</div>
                            <ul class="social-area social-area-2">
                                <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="youtube-icon" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="google-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- topbar end-->

        <!-- adbar end-->
        <div class="adbar-area bg-black d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 align-self-center">
                        <div class="logo text-md-left text-center">
                            <a class="main-logo" href="index.html"><img src="{% static 'img/jt/1.png' %}" width="100" alt="img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 text-md-right text-center">
                        <a href="#" class="adbar-right">
                            <img src="assets/img/add/1.png"  alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- adbar end-->

        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <div class="logo d-lg-none d-block">
                        <a class="main-logo" href="index.html"><img src="assets/img/jt/1.png" width="100" alt="img"></a>
                    </div>
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#nextpage_main_menu" 
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                    <a class="search header-search" href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="nextpage_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="current-menu-item">
                            <a href="#banner">Home</a>
                        </li>                        
                        <li class="current-menu-item">
                            <a href="#trending">Blog</a>
                        </li>                        
                        <li class="current-menu-item">
                            <a href="#latest">Resources</a>
                        </li>                        
                        <li class="current-menu-item">
                            <a href="#grid">Media centre</a>
                        </li>                        
                        <li class="current-menu-item">
                            <a target="_blank" href="/">About Us</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">
                    <div class="menu-search-inner">
                        <input type="text" placeholder="Search For">
                        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

    <!-- banner area start -->
    <div class="banner-area banner-inner-1 bg-black" id="banner">
        <!-- banner area start -->
        <div class="banner-inner pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="thumb after-left-top">
                            <img src="assets/img/jt/istockphoto-1146766974-612x612.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="banner-details mt-4 mt-lg-0">
                            <div class="post-meta-single">
                                <ul>
                                    <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                                    <li class="date"><i class="fa fa-clock-o"></i>08.22.2020</li>
                                </ul>
                            </div>
                            <h2>Environmental health in emergencies and disasters</h2>
                            <p>Disaster management aims to reduce, or avoid, the potential losses from hazards, assure prompt and appropriate assistance to victims of disaster, and achieve rapid and effective recovery. </p>
                            <a class="btn btn-blue" href="https://www.gdrc.org/uem/disasters/1-dm_cycle.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner area end -->

        <!-- -->
    </div>
    <!-- banner area end -->

    <div class="post-area pd-top-75 pd-bottom-50" id="trending">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="section-title">
                        <h6 class="title">Types Of Disasters</h6>
                    </div>
                    <div class="post-slider owl-carousel">
                        <div class="item">
                            <div class="trending-post">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="assets/img/post/5.png" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                                        </div>
                                        <h6 class="title"><a href="#">Natural Disasters </a></h6>
                                    </div>
                                </div>
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="assets/img/post/6.png" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                                        </div>
                                        <h6 class="title"><a href="#">Man-Made Disasters</a></h6>
                                    </div>
                                </div>
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="assets/img/post/7.png" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                                        </div>
                                        <h6 class="title"><a href="#">Pandemic Emergencies</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="trending-post">
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="assets/img/post/5.png" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                                        </div>
                                        <h6 class="title"><a href="#">Natural Disasters </a></h6>
                                    </div>
                                </div>
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="assets/img/post/6.png" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                                        </div>
                                        <h6 class="title"><a href="#">Man-Made Disasters</a></h6>
                                    </div>
                                </div>
                                <div class="single-post-wrap style-overlay">
                                    <div class="thumb">
                                        <img src="assets/img/post/7.png" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                                        </div>
                                        <h6 class="title"><a href="#">Pandemic Emergencies</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="section-title">
                        <h6 class="title">Articles</h6>
                    </div>
                    <div class="post-slider owl-carousel">
                        <div class="item">
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/1.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/2.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://thinkhazard.org/en/report/133-kenya/UF">Urban floods in Kenya </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/3.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://www.physio-pedia.com/Disaster_Management">Disaster Management</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/4.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://www.usaid.gov/sites/default/files/documents/1867/Kenya_Economics_of_Resilience_Final_Jan_4_2018_-_BRANDED.pdf">Economics of Resilience To Drought Kenya (USAID)</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/5.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://reliefweb.int/report/kenya/kenya-appeal-emergency-food-and-non-food-assistance">Appeal for emergency food and non-food assistance</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/1.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/2.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://thinkhazard.org/en/report/133-kenya/UF">Urban floods in Kenya </a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/3.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://www.physio-pedia.com/Disaster_Management">Disaster Management</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/4.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://www.usaid.gov/sites/default/files/documents/1867/Kenya_Economics_of_Resilience_Final_Jan_4_2018_-_BRANDED.pdf">Economics of Resilience To Drought Kenya (USAID)</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post-list-wrap">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="assets/img/post/list/5.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <div class="details">
                                            <div class="post-meta-single">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                </ul>
                                            </div>
                                            <h6 class="title"><a href="https://reliefweb.int/report/kenya/kenya-appeal-emergency-food-and-non-food-assistance">Appeal for emergency food and non-food assistance</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="section-title">
                        <h6 class="title">What’s new</h6>
                    </div>
                    <div class="post-slider owl-carousel">
                        <div class="item">
                            <div class="single-post-wrap">
                                <div class="thumb">
                                    <img src="assets/img/post/8.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="post-meta-single mb-4 pt-1">
                                        <ul>
                                            <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                                            <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                        </ul>
                                    </div>
                                    <h6 class="title"><a href="#">Environmental health in emergencies and disasters</a></h6>
                                    <p>Disaster management aims to reduce, or avoid, the potential losses from hazards, assure prompt and appropriate assistance to victims of disaster, and achieve rapid and effective recovery. </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-post-wrap">
                                <div class="thumb">
                                    <img src="assets/img/post/8.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="post-meta-single mb-4 pt-1">
                                        <ul>
                                            <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                                            <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                        </ul>
                                    </div>
                                    <h6 class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,</a></h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="section-title">
                        <h6 class="title">Join With Us</h6>
                    </div>
                    <div class="social-area-list mb-4">
                        <img class="w-100" src="assets/img/jt/phases-dm.png" alt="img">
                    </div>
                    <div class="add-area">
                        <a href="#"><img class="w-100" src="assets/img/jt/main picture_Tech webinars.jpg" alt="img"></a>
                    </div>
            </div>
        </div>
    </div>

    <div class="bg-sky pd-top-80 pd-bottom-50" id="latest">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-post-wrap style-overlay-bg">
                        <div class="thumb">
                            <img src="assets/img/post/9.png" alt="img">
                        </div>
                        <div class="details">
                            <div class="post-meta-single mb-3">
                                <ul>
                                    <li><a class="tag-base tag-blue" href="cat-fashion.html">fashion</a></li>
                                    <li><p><i class="fa fa-clock-o"></i>08.22.2020</p></li>
                                </ul>
                            </div>
                            <h6 class="title"><a href="#">lorem ipsum dolor tenet</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-post-wrap">
                        <div class="thumb">
                            <img src="assets/img/post/10.png" alt="img">
                            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
                        </div>
                        <div class="details">
                            <h6 class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,</a></h6>
                        </div>
                    </div>
                    <div class="single-post-wrap">
                        <div class="thumb">
                            <img src="assets/img/post/11.png" alt="img">
                            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
                        </div>
                        <div class="details">
                            <h6 class="title"><a href="#">Nigeria and Kenya the</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-post-wrap">
                        <div class="thumb">
                            <img src="assets/img/post/12.png" alt="img">
                            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
                        </div>
                        <div class="details">
                            <h6 class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,</a></h6>
                        </div>
                    </div>
                    <div class="single-post-wrap">
                        <div class="thumb">
                            <img src="assets/img/post/13.png" alt="img">
                            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
                        </div>
                        <div class="details">
                            <h6 class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trending-post style-box">
                        <div class="section-title">
                            <h6 class="title">Trending News</h6>
                        </div>
                        <div class="post-slider owl-carousel">
                            <div class="item">
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/1.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Important to rate more liquidity</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/2.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Sounds like John got the Josh</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/3.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Grayscale's and Health Trusts</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/4.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Sounds like John got the Josh</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap mb-0">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/5.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Grayscale's and Bitcoin Trusts</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/1.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Important to rate more insurance</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/2.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Sounds like John got the Josh</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/3.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Grayscale's and Bitcoin Health</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/4.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Sounds like John got the Josh</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-list-wrap mb-0">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="assets/img/post/list/5.png" alt="img">
                                        </div>
                                        <div class="media-body">
                                            <div class="details">
                                                <div class="post-meta-single">
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                                    </ul>
                                                </div>
                                                <h6 class="title"><a href="#">Grayscale's and Bitcoin Health</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-area bg-black pd-top-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h5 class="widget-title">ABOUT US</h5>
                        <div class="widget_about">
                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            <ul class="social-area social-area-2 mt-4">
                                <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="youtube-icon" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="google-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget widget_tag_cloud">
                        <h5 class="widget-title">TAGS</h5>
                        <div class="tagcloud">
                            <a href="#">Landslides</a>
                            <a href="#">Earthquakes</a>
                            <a href="#">Floods</a>
                            <a href="#">Food Aid</a>
                            <a href="#">Urban Floods</a>
                            <a href="#">Internet Catastrophe</a>
                            <a href="#">School</a>
                            <a href="#">Animal Control</a>
                            <a href="#">Fire Hazards</a>
                            <a href="#">Chemical Hazards</a>
                            <a href="#">Global Warming</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h5 class="widget-title">CONTACT US</h5>
                        <ul class="contact_info_list">
                            <li><i class="fa fa-map-marker"></i> 829 Nairobi Avenue Bogus, BA 254</li>
                            <li><i class="fa fa-phone"></i> +254 012121240</li>
                            <li><i class="fa fa-envelope-o"></i> Info@website.com <br> Support@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget widget_recent_post">
                        <h5 class="widget-title">POPULAR NEWS</h5>
                        <div class="single-post-list-wrap style-white">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/post/list/1.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="#">Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-post-list-wrap style-white">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/post/list/2.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <div class="details">
                                        <div class="post-meta-single">
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a href="#">Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic </a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <ul class="widget_nav_menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <p>Copyright ©2022 <a href="/">Control</a></p>
            </div>
        </div>
    </div>

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->
    {% endblock %}
